* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button img {
  width: 25px;
}
.navbar-toggler {
  border: none;
  /*margin: 0;*/
}
nav {
  background-color: #fff;
}
.news-container-text {
  font-size: 25px;
  line-height: 18px;
  color: #424242;
}
.news-text {
  font-size: 20px;
}
.news-date {
  font-size: 15px;
}
@media screen and (max-width: 500px) {
  .button-1 {
    margin-left: -30px;
    margin-right: -25px;
  }
  .button-2 {
    margin: -30px;
  }
  .news-container-text {
    margin-top: 40px;
  }
  .news-article-main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .news-article-main {
    margin-top: 90px;
    display: block;
    position: relative;
    height: 340px;
  }
    .news-article-main .col-sm-12 {
    color: #fff;
    position: absolute;
    bottom: 3%;
  }

}
