* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button img {
  width: 25px;
}
.navbar-toggler {
  border: none;
  /*margin: 0;*/
}
nav {
  background-color: #fff;
}
.button-1 {
  margin-left: -30px;
  margin-right: -25px;
}
.button-2 {
  margin: -30px;
}
